Servidor/AdminClient/Connected Services/ServiceReference1/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatingWith" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConnectedSince" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Connections" type="xs:int" />
      <xs:element minOccurs="0" name="Friends" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PendingFriends" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>